body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

table {
    margin-left: 2%;
    margin-right: 2%;
}

.separate-side-left {
    margin-left: 10px;
}

.separate-side-right {
    margin-right: 10px;
}

.lightgrey-text {
    color: lightgrey;
}

.wide-80 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    align-content: center;
}