body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p, li, span {
    font-size: large;
}

.font-bold {
    font-weight: bolder !important;
    text-decoration: underline;
}

.borders {
    margin-top: 10%;
    padding: 5% 5% 5% 5%;
}

.separate-side-left {
    margin-left: 20px;
}

.separate-side-right {
    margin-right: 20px;
}

.lightgrey-text {
    color: lightgrey;
}

.wide-80 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    align-content: center;
}